body{
	font-family: "SimSun";
}
.main-1{
	width: 685px;
	height: 100px;
}
.main-1-top{
	width: 685px;
	height: 22px;
}
.text1{
	width: 80px;
	height: 22px;
	background: linear-gradient(#2F94CD,#1B88C4);
	text-align: center;
	line-height: 25px;
	font-size: 13px;
	font-weight: bold;
	float: left;
	color: white;
	border-top-left-radius: .2em; 
	border-top-right-radius: .2em;
}
.text2{
	width: 20px;
	height: 20px;
	float: left;
	background: linear-gradient(#FC7d18,#FF4002);
	text-align: center;
	line-height: 20px;
	color: #ffffff;
	margin-left: 8px;
	border-radius: .2em; 
}
.main-1-mid{
	width: 685px;
	height: 50px;
	background: #f9f9f9;
	border: solid 1px #CBCBCB;
	border-top: 0px;
}
.blueline{
	width: 685px;
	height: 5px;
	background: #1b88c4;
}
.mid-text{
	width: 685px;
	height: 45px;
	background: linear-gradient(#feffff,#f3f4f4);
	font-size: 14px;
}
.text-top{
	width: 220px;
	height: 20px;
	margin-left: 7px;
	display: flex;
	justify-content: space-between;
	color: #d70000;
	font-weight: 900;
	text-align: center;
	line-height: 20px;
}
.text-top-1:before{
	content: "総額 ";
	color: black;
	font-weight: 200;
}
.text-down{
	margin-left: 7px;
	display: flex;
	text-align: center;
	line-height: 25px;
	font-size: 13px;
    color: #CF0000;
    font-weight: bold;
}
.text-down div {
	margin-right: 20px;
}
.text-down-block1:before{
	content: "所要时间  ";
    color: #444444;
    font-weight: 200;
}
.text-down-block2{
	color: black;
}
.text-down-block2:before{
	content: "乘车时间  ";
    color: #444444;
    font-weight: 200;
}
.text-down-block3:before{
	content: "乘換  ";
    color: #444444;
    font-weight: 200;
}
.text-down-block4{
	color: black;
}
.text-down-block4:before{
	content: "距离  ";
    color: #444444;
    font-weight: 200;
}.text-red{
	color: #d70000;
	font-weight: 900;
}
.text-000{
	font-weight: 800;
}
.text-444{
	color: #444;
}
.main-1-down{
	width: 685px;
	height: 25px;
	background: #fffbde;
	display: flex;
	justify-content: flex-end;
	line-height: 25px;
	font-size: 13px;
	border: solid 1px #CBCBCB;
	border-top: 0px;
}
.main-1-down a{
	margin-right: 8px;
	margin-left: 2px;
	color: #002cbd;
}
.pos{
	margin-top: 5px;
	margin-right: 2px;
}
.main-2{
	margin-top: 5px; 	
	width: 685px;
	height: 210px;
}
.main-2-title{
	width: 687px;
	height: 15px;
	background: #CEDCE8;
    color: #607A90;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 12px;
}
.main-2-title-1{
	width: 408px;
	border-right: solid 1px white;
}
.main-2-title-2{
	width: 65px;
	border-right: solid 1px white;
}
.main-2-title-3{
	width: 70px;
	border-right: solid 1px white;
}
.main-2-title-4{
	width: 80px;
	border-right: solid 1px white;
}
.main-2-title-5{
	width: 64px;
}
.main-2-body{
    width: 686px;
    height: 39px;
    background: #F2F2F2;
    border: 1px solid #C0C0C0;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 12px;
}
.main-2-body-name{
	width: 405px;
	display: flex;
    font-size: 16px;
    font-weight: bold;
}
.fa-cloud{
	margin-left: 70px;
	margin-right: 4px;
	color: gray;
}
.square{
	width: 12px;
	height: 12px;
	background: linear-gradient(#4AB9E6 0, #1F93D9 50%, #0D7DD0 51%, #26A0D9 100%);
	margin-left: 2px;
	margin-right: 4px;
	margin-top: 2px;
	border: 1px solid white;
}
.main-2-body-time{
	width: 93px;
    text-align: center;
    font-size: 13px;
    font-weight: 200;
}
.littlesquare{
	margin-left: 2px;
	margin-right: 4px;
	margin-top: 2px;
	width: 6px;
	height: 6px;
    background: white;
    border: 2px solid #1F94D0;
}
.border1{
	border-top: 0px;
}
.main-2-train{
	width: 686px;
	height: 39px;
	display: flex;
}
.main-2-body-num{
	width: 65px;
	text-align: center;
}
.main-2-body-nation{
	width: 205px;
	height: 39px;
	margin-right: 12px;
	display: flex;
    justify-content: flex-end;
    align-items: center;
}
.main-2-body-nation a{
    margin-left: 5px;
    color: #002cbd;
}

.main-2-train-time{
	width: 98px;
	display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
	font-size: 13px;
}
.main-2-train-rec{
	width: 6px;
	background: #96c7d8;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.main-2-train-rectop{
	width: 6px;
	height: 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.main-2-train-littlerec{
	width: 2px;
	height: 8px;
	background: white;
}
.main-2-train-recdown{
	width: 2px;
	height: 4px;
	background: white;
}
.main-2-train-news{
	width: 301px;
    border-right: solid 1px #CDCDCD;
    display: flex;
    align-items: center;
}
.main-2-train-news a{
	margin-left: 10px;
    font-size: 13px;
    color: #0069A3;
}
.main-2-train-nation{
	width: 280px;
	height: 39px;
	display: flex;
}

.main-2-train-nation-1{
	width: 65px;
    border-right: solid 1px #CDCDCD;
}
.main-2-train-nation-2{
	width: 71px;
    border-right: solid 1px #CDCDCD;
    text-align: center;
    line-height: 39px;
    font-weight: bold;
    font-size: 15px;
}
.main-2-train-nation-3{
	width: 80px;
    border-right: solid 1px #CDCDCD;
    text-align: center;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-2-train-nation-4{
	width: 64px;
	text-align: center;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}