body{
	font-family: "Microsoft JhengHei";
}
.main{
	width: 700px;
	height: 310px;
}
.main-1{
	width: 700px;
	height: 100px;
}
.main-2{
	margin-top: 10px; 	
	width: 700px;
	height: 200px;
}
.main-1-top{
	width: 700px;
	height: 25px;
}
.text1{
	width: 100px;
	height: 25px;
	background: linear-gradient(#2f94cd,#1b88c4);
	text-align: center;
	line-height: 25px;
	float: left;
	color: #ffffff;
	border-top-left-radius: .2em; 
	border-top-right-radius: .2em;
}
.text2{
	width: 20px;
	height: 20px;
	float: left;
	background: linear-gradient(#fc7d18,#ff4002);
	text-align: center;
	line-height: 20px;
	color: #ffffff;
	margin-left: 8px;
	border-radius: .2em; 
}
.main-1-mid{
	width: 700px;
	height: 50px;
	background: #f9f9f9;
}
.blueline{
	width: 700px;
	height: 5px;
	background: #1b88c4;
}
.mid-text{
	width: 700px;
	height: 45px;
	background: linear-gradient(#feffff,#f3f4f4);
	font-size: 14px;
}
.text-top{
	width: 220px;
	height: 20px;
	margin-left: 5px;
	display: flex;
	justify-content: space-between;
	color: #d70000;
	font-weight: 900;
	text-align: center;
	line-height: 20px;
}
.text-down{
	width: 480px;
	height: 25px;
	margin-left: 1px;
	display: flex;
	text-align: center;
	line-height: 25px;
}
.text-down-block1{
	width: 140px;
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.text-down-block2{
	margin-left: 20px;
	width: 110px;
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.text-down-block3{
	margin-left: 20px;
	width: 70px;
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.text-down-block4{
	margin-left: 20px;
	width: 110px;
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.text-red{
	color: #d70000;
	font-weight: 900;
}
.text-000{
	font-weight: 800;
}
.text-444{
	color: #444;
}
.pos1{
	margin-left: -5px;
	margin-right: -5px;
	margin-top: 2px;
	text-align: center;
}
.pos2{
	margin-left: 10px;
	font-weight: normal;
}
.main-1-down{
	width: 700px;
	height: 25px;
	background: #fffbde;
	display: flex;
	justify-content: flex-end;
	line-height: 25px;
}
.pos3{
	margin-top: 5px;
}
.color-002cbd{
	color: #002cbd;
	text-decoration: underline;
	margin-right: 15px;
	margin-left: 10px; 
}