body{
	background: lightgray;
}
.content{
	width: 500px;
	height: 900px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.content-0{
	margin-top: 20px;
	width: 470px;
	height: 260px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	background: white;
	border: solid black 1px;
}
.main{
	width: 80px;
	height: 80px;
	position: relative;
}

.block {
	width: 80px;
	height: 80px;
	background: #c0c0c0;
	border: solid #7c7c7c 1px;
	position: absolute;
	z-index: 1;
}
.pos {
	width: 80px;
	height: 80px;
}


.content-1{
	margin-top: 20px;
	width: 470px;
	height: 260px;
}
.navigation{
	width: 50px;
	height: 20px;
	border: solid black 1px;
	border-right-width: 0px; 
	border-bottom-width: 0px; 
	float: left;
	background: white;
}
.bor{
	border-right-width: 1px;
	border-bottom-width: 0px;
}
.content-1-down{
	width: 470px;
	height: 240px;
	background: white;
	float: left;
	border: solid black 1px;
	font-size: 100px;
	color: #aaaaaa;
	line-height: 240px;
}
.bac{
	background: #c0c0c0;
}

.content-2{
	width: 470px;
	height: 240px;
	margin: auto;
	border: solid black 1px;
	background: white;

}
.content-top{
	width: 470px;
	height: 200px;
}
.content-line{
	margin: 5px;
	height: 30px;
	display: flex;
	flex-direction: row;
}
.number{
	width: 30px;
	height: 30px;
	border: solid black 1px;
	line-height: 30px;
}
.emp{
	width: 360px;
	height: 30px;
	border: solid black 1px;
	border-left-width: 0px;
}
.delete{
	width: 60px;
	height: 30px;
	border: solid black 1px;
	border-left-width: 0px;
	line-height: 30px;
}
.content-2-down{
	margin-left: 350px;
	margin-bottom: 10px;
	width: 100px;
	height: 30px;
	background: #339966;
	line-height: 30px;
	color: white;
	border: solid black 1px;
}