body{
	font-family: "KaiTi";
}
.frame1{
	border: 1px solid #9f9f9f;
}
.frame2{
	border-right: 1px solid #9f9f9f;
	border-left: 1px solid #9f9f9f;
	border-bottom: 1px solid #9f9f9f;
}
.frame3{
	border-right: 1px solid #9f9f9f;
	border-left: 1px solid #9f9f9f;
}
.first{
	width: 400px;
	height: 100px;
}
#ff div{
	float: left;
	width: 80px;
	height: 20px;
	margin: 0px;
	text-align: center;
}
.b0{
	background: #f7f7f7;
}
.p1{
	position: absolute;
	margin-top:40px;
	margin-left: 25px; 
	width: 350px;
	height: 25px;
	background: #ffffff;
}
.p2{
	position: absolute;
	margin-top:70px;
	margin-left: 25px; 
	width: 350px;
	height: 25px;
	background: #ffffff;
}

.second{
	width: 400px;
	height: 200px;
}
.same div{
	float:left;
}
.pit{
	margin-top: 10px;
	margin-left: -250px; 
	width: 100px;
	height: 130px;
	background: #ff4400;
}
.s2f{
	margin-left: 130px;
	margin-top: -100px;
	width: 230px;
	height: 25px;
	background: #ffffff;
}
.s2t{
	margin-left: 130px;
	margin-top: 20px;
	width: 230px;
	height: 25px;
	background: #ffffff;
}
.p3{
	color: white;
	margin-top: 45px; 
	margin-left: 45px; 
	width: 80px;
	height: 30px;
	background: #ff4400;
}
.third{
	width: 400px;
	height: 50px;
}
.pp{
	position: absolute;
	margin-top:5px;
	margin-left: 50px; 
	width: 300px;
	height: 35px;
	background: #ffffff;
}

.fourth{
	width: 400px;
	height: 300px;
}

.big {
	width: 160px;
	height: 200px;
	float: left;
}
.small {
	width: 80px;
	height: 100px;
	float: left;
}

.bigpit{
	margin-top: 10px; 
	width: 120px;
	height: 140px;
	background: #ff4400;
}
.smallpit{
	margin-top: 10px; 
	width: 40px;
	height: 60px;
	background: #ff4400;
}
.border1{
	box-sizing: border-box;
	border-style: solid;
	border-right-color: #9f9f9f;
	border-right-width: 1px;
	border-bottom-color: #9f9f9f;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-left-width: 0px;
}
.border2{
	box-sizing: border-box;
	border-style: solid;
	border-right-width: 0px;
	border-bottom-color: #9f9f9f;
	border-bottom-width: 1px;
	border-top-width: 0px;
	border-left-width: 0px;
}