.ui-mobile{
	margin: auto;
	margin-top: 10px;
	width: 375px;
	height: 985px;
	background: #f1f0ed;
}
.ui-mobile-top{
	width: 375px;
	height: 50px;
	background: #00c2ae;
}
.ui-mobile-top-left{
	display: flex;
	line-height: 50px;
	font-size: 16px;
	color: white;
	cursor: pointer;
}
.fa-angle-down{
	margin-left: 5px;
	margin-top: 18px;
}
.ui-mobile-top-mid{
	display: flex;
	line-height: 34px;
	margin-top: 8px;
	width: 300px;
	height: 34px;
	background: #00a594;
	border-radius: 2px;
	color: white;
}
.fa-search{
	margin-top: 10px;
	margin-left: -5px;
	margin-right: 10px;
}
.under-fa-search{
	color: #00dacd;
	font-size: 16px;
}
.ui-mobile-top-right{
	margin-top: 5px;
	margin-left: 0px;
	color: white;
	cursor: pointer;
	text-align: center;
}
.ui-mobile-circle{
	height: 180px;
	background: white;
	border-top: solid 1px #008A7D;
	border-bottom: solid 1px #e0d9cf;
}
.ui-mobile-licircle{
	height: 70px;
	text-align: center;
}
.circle{
	margin: auto;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.circle-1{
	background: #ff8905;
}
.circle-2{
	background: #ff6640;
}
.circle-3{
	background: #7089f6;
}
.circle-5{
	background: #00cdf0;
}
.circle-6{
	background: #ffbb53;
}
.littlecircle1{
	margin-left: 150px;
    margin-top: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: green;
    cursor: pointer;
}
.littlecircle2{
	margin-top: -10px;
    margin-left: 190px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #f1f0ed;
    cursor: pointer;
}
.ui-mobile-mid1{
	margin-top: 12px;
	height: 162px;
	background: white;
	border-top: solid 1px #e0d9cf;
	border-bottom: solid 1px #e0d9cf;
}
.ui-mobile-mid1-left{
	margin-top: 6px;
	height: 146px;
	border-right: solid 1px #e0d9cf;
}
.ui-mobile-mid1-left div{
	margin-left: 10px;
}
.bigsquare{
	width: 88px;
	height: 88px;
	background: #666;
	border: 1px solid #c1c1c1;
}
.midsquare{
	margin-top: -55px;
	margin-left: 150px;
	width: 65px;
	height: 65px;
	background: #666;
	border: 1px solid #c1c1c1;
}
.smallsquare{
	margin-top: 0px;
	margin-left: 30px;
	width: 40px;
	height: 40px;
	background: #666;
	border: 1px solid #c1c1c1;
}
.colortext{
	font-size: 16px;
	margin-left: 5px;
    font-weight: bold;
}
.greentext{
	margin-top: 5px;
	color: #00a500;
}
.graytext{
	margin-top: 7px;
	margin-left: 5px;
	font-size: 12px;
	color: #6a6a6a;
}
.ui-mobile-mid1-right1{
	height: 78px;
	border-bottom: solid 1px #e0d9cf;
}
.redtext{
	margin-top: 15px;
	color: #ff3d00;
}
.pinktext{
	margin-top: 5px;
	color: #ff40a4;
}
.ui-mobile-right2-left{
	height: 75px;
	border-right: solid 1px #e0d9cf;
}
.orangetext{
	margin-top: 5px;
	color: #ff8700;
}
.pos{
	margin-top: 2px;
}
.time{
	margin-left: 5px;
	display: flex;
	text-align: center;
	line-height: 25px;
}
.timeblock{
	margin-top: 5px;
	margin-right: 2px;
	line-height: 15px;
	width: 20px;
	height: 15px;
	background: #4b4b4b;
	border-radius: 3px;
	color: white;
}
.ui-mobile-mid2{
	margin-top: 12px;
	height: 75px;
	background: white;
	border-top: solid 1px #e0d9cf;
	border-bottom: solid 1px #e0d9cf;
}
.midpos{
	margin-top: -57px;
	margin-left: 100px;
}
.ui-mobile-mid2-line{
	height: 78px;
	border-right: solid 1px #e0d9cf;
}
.changecolor{
	color: #ff8700;
}
.ui-mobile-text{
	margin-top: 10px;
	line-height: 42px;
	font-size: 18px;
	font-weight: 200;
	height: 42px;
	background: white;
	border-top: solid 1px #e0d9cf;
}
.ui-mobile-mid3{
	height: 400px;
	background: white;
}
.ui-mobile-shops{
	width: 375px;
	height: 400px;
}
.ui-mobile-shop{
	width: 365px;
	height: 100px;
	border-top: solid 1px #e0d9cf;
	float: left;
	display: flex;
	align-items: center;
}
.whiteline{
	width: 10px;
	height: 400px;
	float: left;
}
.ui-mobile-pit{
	width: 100px;
	height: 100px;
}
.ui-mobile-note{
	width: 180px;
	height: 100px;
}
.ui-mobile-num{
	width: 70px;
	height: 103px;
	margin-top: 150px;
	font-size: 12px;
	color: #666;
	text-align: right;
}
.pit{
	position: relative;
	margin-top: 10px;
	width: 80px;
	height: 80px;
	background: #666;
	border: solid 1px #c1c1c1;
	overflow: hidden;
}
.re{
	position: absolute;
	width: 80px;
	height: 16px;
	top: 10%;
	left: -30%;
	line-height: 16px;
	font-size: 12px;
	text-align: center;
	background: #00c2ae;
	transform: rotate(-45deg);
	color: white;
}
.note-top{
	margin-top: 10px;
	font-size: 16px;
}
.note-mid{
	font-size: 12px;
	color: #6a6a6a;
}
.note-down{
	margin-top: 14px;
	display: flex;
}
.note-down-left{
	font-size: 20px;
	font-weight: bold;
	color: #00c2ae;
}
.note-down-left:after{
	content: '元';
	font-size: 12px;
	font-weight: normal;
}
.note-down-right1{
	margin-top: 5px;
	margin-left: 5px;
	width: 50px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	border: solid 1px #ff9a00;
	color: #ff9a00;
	font-size: 12px;
	border-radius: 4px;
}
.note-down-right2{
	margin-top: 7px;
	margin-left: 5px;
	font-size: 12px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}
.ui-mobile-down{
	width: 375px;
	height: 40px;
	background-color: #8fc6ea;
	display: flex;
}
.ui-mobile-down-text{
	line-height: 40px;
	color: #00b1cf;
	margin-left: 10px;
	font-size: 15px;
}
.fa-angle-right{
	margin-left: 290px;
	margin-top: 12px;
	color: #00b1cf;
}

.ui-pc{
	margin: auto;
	margin-top: 10px;
	width: 1000px;
}
.ui-pc-main{
	width: 1000px;
	height: 70px;
	background: #008def;
	padding-left: 70px;
	padding-right: 70px;
}
.ui-pc-top{
	height: 70px;
}
.ui-pc-top-first{
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
	color: white;
}
.ui-pc-top-first div{
	cursor: pointer;
}
.ui-pc-top-firsttext{
	margin-top: 2px;
	padding-right: 5px;
	margin-right: 5px;
	height: 15px;
	border-right: solid 1px white; 
}
.ui-pc-top-second{
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}
.ui-pc-top-title{
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
	line-height: 20px;
	font-size: 13px;
}
.ui-pc-top-title div{
	cursor: pointer;
}
.ui-pc-top-title-re{
	width: 40px;
	text-align: center;
	height: 20px;
	background: #0069b4;
}
.ui-pc-top-input{
	width: 200px;
	height: 25px;
	background: white;
	border-radius: 2px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-between;
}
.ui-pc-top-input div{
	cursor: pointer;
}
.ui-pc-top-input-left{
	width: 45px;
	padding-left: 5px;
	text-align: center;
	background: #f9f9f9;
}
.ui-pc-top-input-right{
	text-align: center;
	margin-top: -7px;
	color: #9b9b9b;
}
.ui-pc-body-top{
	padding-left: 60px;
	padding-right: 60px;
	height: 260px;
	margin-top: 20px;
}
.ui-pc-body-top-left{
	width: 565px;
	height: 220px;
	background: #666;
	border: 1px solid #c1c1c1;
}
.ui-pc-body-top-right{
	width: 270px;
	height: 220px;
	background: #f4f4f4;
}
.ui-pc-body-top-right-head{
	height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.ui-pc-body-top-head-text{
	margin-top: 20px;
	color: #009dff;
	text-align: center;
}
.ui-pc-body-top-head-re{
	width: 125px;
	height: 35px;
	background: #009dff;
	border-radius: 4px;
	margin-bottom: 20px;
}
.ui-pc-body-top-right-foot{
	margin: auto;
	width: 220px;
	height: 80px;
	border-top: 1px dashed #009dff;
}
.ui-pc-body-top-ims{
	margin: auto;
	margin-top: 20px;
	width: 200px;
	height: 40px;
	display: flex;
	justify-content: center;
    flex-wrap: wrap;
	align-content: center;
}
.ui-pc-body-top-im{
	display: flex;
	width: 100px;
	height: 20px;
	justify-content: center;
}
.ui-pc-body-top-im-num{
	color: #009dff;
	margin-right: 5px;
}
.ui-pc-body-down{
	padding-left: 60px;
	padding-right: 60px;
	margin-top: -20px;
}
.ui-pc-body-down-right-title1{
	font-weight: bold;
	cursor: pointer;
}
.ui-pc-body-down-right-title2{
	cursor: pointer;
}
.ui-pc-body-down-right1{
	margin-top: 10px;
	width: 270px;
	height: 210px;
	padding: 10px;
	border: solid 1px #e3e3e3;
	border-bottom: 3px solid #0092f1;
	display: flex;
	flex-wrap: wrap;
	font-size: 12px;
	position: relative;
	overflow: hidden;
}
.ui-pc-right-bigsquare{
	width: 245px;
	height: 90px;
	background: #666;
	border: 1px solid #c1c1c1;
}
.ui-pc-body-down-right1-title{
	margin-top: 5px;
	font-size: 15px;
	font-weight: bold;
}
.ui-pc-body-down-right1-num{
	margin-bottom: -15px;
	display: flex;
    color: #9a9a9a;

}
.linepos{
	margin-left: 10px;
	margin-right: 10px;
}
.start{
	position: absolute;
	width: 150px;
	height: 25px;
	top: 6%;
	left: 64%;
	line-height: 25px;
	font-size: 11px;
	text-align: center;
	background: #0091F0;
	transform: rotate(45deg);
	color: #F0F9FD;
}
.ui-pc-body-down-rightdown{
	margin-top: 10px;
	width: 270px;
	height: 185px;
	border: solid 1px #e3e3e3;
}
.ui-pc-body-down-right2{	width: 270px;
	height: 50px;
	padding: 10px;
}
.ui-pc-body-down-right-title3{
	font-weight: bold;
	color: #0091f0;
}
.ui-pc-body-down-right3{
	margin: auto;
	width: 250px;
	border-top: dashed 1px #cdcdcd;
}
.ui-pc-body-down-right3-re{
	margin: auto;
	margin-top: 20px;
	width: 155px;
	height: 90px;
	background: #666;
	border: solid 2px #c1c1c1;
	display: flex;
	align-items: flex-end;
}
.ui-pc-body-down-right3-re-re{
	width: 100%;
	height: 25px;
	line-height: 25px;
	background: #191919;
	color: #d2d2d2;
	text-align: center;
}
.ui-pc-body-down-left-title1{
	font-weight: bold;
	cursor: pointer;
}
.ui-pc-body-down-left1-1{
	margin-top: 10px;
	width: 378px;
	height: 170px;
	border: solid 1px #e3e3e3;
}
.ui-pc-body-down-left1-2{
	margin-top: 10px;
	margin-left: -15px;
	width: 190px;
	height: 170px;
	border: solid 1px #e3e3e3;
	border-left: 0px;
	display: flex;
	flex-wrap: wrap;
}
.ui-pc-body-down-left1-im{
	margin-top: 20px;
	margin-left: 10px;
	width: 340px;
	word-break: break-all;
}
.ui-pc-body-down-left1-im-title{
	font-weight: bold;
}
.ui-pc-body-down-left1-im-note{
	margin-top: 10px;
	color: #666;
	text-indent: 2em;
}
.ui-pc-body-down-left-num{
	margin-top: 30px;
	margin-left: 10px;
	display: flex;
    color: #9a9a9a;
    font-size: 12px;
}
.ui-pc-body-down-left-num div{
	cursor: pointer;
}
.ui-pc-body-down-left1-2-num div{
	cursor: pointer;
}
.ui-pc-body-down-left2-num div{
	cursor: pointer;
}
.ui-pc-body-down-left3-num div{
	cursor: pointer;
}
.ui-pc-body-down-left5-num div{
	cursor: pointer;
}
.ui-pc-body-down-left6-num div{
	cursor: pointer;
}
.ui-pc-body-down-right1-num div{
	cursor: pointer;
}
.ui-pc-body-top-im div{
	cursor: pointer;
}
.ui-pc-body-top-head-re{
	cursor: pointer;
}
.ui-pc-body-down-left1-2-pit{
	margin: auto;
	margin-top: 10px;
	width: 160px;
	height: 85px;
	background: #666;
	border: 1px solid #c1c1c1;
}
.ui-pc-body-down-left1-2-note{
	margin-left: 15px;
	margin-top: -5px;
	font-weight: bold;
}
.ui-pc-body-down-left1-2-num{
	margin-top: 10px;
	margin-left: 15px;
	display: flex;
    color: #9a9a9a;
    font-size: 12px;
}
.ui-pv-body-down-left2-1{
	width: 189px;
	height: 170px;
	border: solid 1px #e3e3e3;
	border-top: 0px;
	border-right: 0px;
	display: flex;
	flex-wrap: wrap; 
}
.ui-pv-body-down-left2-2{
	margin-left: -7px;
	width: 189px;
	height: 170px;
	border: solid 1px #e3e3e3;
	border-top: 0px;
	border-right: 0px;
	display: flex;
	flex-wrap: wrap; 
}
.ui-pv-body-down-left2-3{
	margin-left: -14px;
	width: 189px;
	height: 170px;
	border: solid 1px #e3e3e3;
	border-top: 0px;
	display: flex;
	flex-wrap: wrap; 
}
.ui-pc-body-down-left2-ppt{
	margin-left: 15px;
	width: 30px;
	height: 15px;
	background: #ff7a33;
	border-radius: 2px;
	font-size: 10px;
	color: white;
	text-align: center;
	cursor: pointer;
}
.ui-pc-body-down-left2-note{
	margin-top: -5px;
	font-weight: bold;
	margin-left: 15px;	
}
.ui-pc-body-down-left2-num{
	margin-left: 15px;
	display: flex;
	color: #9a9a9a;
	font-size: 12px;
}
.ui-pc-body-down-left3-1{
	width: 283px;
	height: 235px;
	border: solid 1px #e3e3e3;
	border-top: 0px;
	display: flex;
	flex-wrap: wrap;
}
.ui-pc-body-down-left3-2{
	margin-left: -10px;
	width: 283px;
	height: 235px;
	border: solid 1px #e3e3e3;
	border-left: 0px;
	border-top: 0px;
	display: flex;
	flex-wrap: wrap;
}
.ui-pc-body-down-left3-pit{
	margin: auto;
	margin-top: 15px;
	width: 250px;
	height: 133px;
	background: #666;
	border: 1px solid #c1c1c1;
}
.ui-pc-body-down-left3-note{
	margin-top: -5px;
	font-weight: bold;
	margin-left: 15px;
	width: 250px;
}
.ui-pc-body-down-left3-num{
	margin-top: 40px;
	margin-left: 15px;
	display: flex;
	color: #9a9a9a;
	font-size: 12px;
}
.ui-pc-body-down-left4-1{
	width: 189px;
	height: 170px;
	border: solid 1px #e3e3e3;
	border-top: 0px;
	border-right: 0px;
	display: flex;
	flex-wrap: wrap; 
}
.ui-pc-body-down-left4-2{
	margin-left: -8px;
	width: 189px;
	height: 170px;
	border: solid 1px #e3e3e3;
	border-top: 0px;
	border-right: 0px;
	display: flex;
	flex-wrap: wrap; 
}
.ui-pc-body-down-left4-3{
	margin-left: -14px;
	width: 189px;
	height: 170px;
	border: solid 1px #e3e3e3;
	border-top: 0px;
	display: flex;
	flex-wrap: wrap; 
}
.fa-play-circle-o{
	margin-left: 5px;
	margin-top: 65px;
	cursor: pointer;
}
.ui-pc-body-down-left5-1{
	margin-left: -8px;
	width: 378px;
	height: 170px;
	border: solid 1px #e3e3e3;
	border-top: 0px;
	border-left: 0px;
}
.ui-pc-body-down-left5-im{
	margin-left: 10px;
	width: 340px;
	word-break: break-all;
}
.ui-pc-body-down-left5-line{
	height: 20px;
}
.ui-pc-body-down-left5-im-title{
	font-weight: bold;
}
.ui-pc-body-down-left5-im-note{
	margin-top: 10px;
	color: #666;
	text-indent: 2em;
}
.ui-pc-body-down-left5-num{
	margin-top: 30px;
	margin-left: 250px;
	display: flex;
    color: #9a9a9a;
    font-size: 12px;
}
.ui-pc-body-down-left6{
	width: 566px;
	height: 170px;
	border: solid 1px #e3e3e3;
	border-top: 0px;
}
.ui-pc-body-down-left6-im{
	margin-left: 20px;
	width: 530px;
	word-break: break-all;
}
.ui-pc-body-down-left6-num{
	margin-top: 30px;
	margin-left: 430px;
	display: flex;
    color: #9a9a9a;
    font-size: 12px;
}